.image-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-section img {
  width: 100%;
}

.image-section img:hover {
  filter: brightness(80%);
}

.image-section img:first-child {
  grid-area: 1/ 1/ 2/ 2;
}

.image-section img:nth-child(2) {
  grid-area: 2/ 1/ 3/ 2;
  margin-top: -66px;
}

.image-section img:last-child {
  margin-top: -490px;
}

/* about section */

.about-section {
  margin: 80px 250px 30px 250px;
}

.about-section h2 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 30px;
}

.about-section img {
  display: block;
  margin: auto;
  width: 300px;
  margin-bottom: 30px;
}

.about-section p {
  text-align: center;
  font-weight: 300;
  line-height: 24px;
}